@media only screen and (max-width: 1030px){
    img{
        width: 100%;
        height: 100%;
        display: block;
    }
    .container{
        max-width: 100%;
        margin: 0 auto;
    }
    .header{
        width: 100%;
        height: 100vh;
    }
    .navigation{
        width: 100%;
    }
    .logo h2{
        font-family: Ubuntu;
    }
    .nav__bar a{
        font-size: 1rem;
    }
    .nav a{
        font-size: 1.1rem;
        font-family: Ubuntu;
    }
    .people__title p{
        margin-bottom: 4rem;
    }
    .pricing__content{
        width: 100%;
    }
    .pricing__item{
        width: 100%;
        height: 400px;
        background-color: white;
        padding: 2rem;
    }
    .contact__content input[type="submit"]{
        width: 23%;
    }
    .contact__content textarea{
        width: 100%;
    }
}